*
{
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  font-family: Arial !important;
}
body {
  overflow: hidden; 
}

.header
{
  text-align:center;
  width: 100%;
  height: 50px;
  background-color: black;
}
table
{
  white-space: nowrap;
  border-collapse: collapse;
  width: 100%;
  height: inherit;
  table-layout: fixed;
}
td
{
  border-left: 1px solid black;
  vertical-align: top;
  height: auto;
}

#listSection
{
    text-align: center;
}
#title
{
  color: white;

  text-transform: uppercase;
  padding: 5px;
  margin-top: 10px;
  font-size: fit-width;
  align-items: center;
}
#listSVG
{
  width: 100%;
  height: auto;
}

#us-map{
  display: block;
  width: 100%;
  height: auto;
}


#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

#custom-handle {
  width: 30px;
  height: 30px;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}
#slider
{
  margin: 10 30 0 10;
  float: left;
  width: 200px;
  
}
#menuTable
{
  width: 100%;
  height:35px;
  
}
#customStandardDev
{ 
  float: left;
  height: 30px;
}
td{
  vertical-align:middle;
}