<html>

<head>
  <link rel="shortcut icon" type="image/png" href="favicon/favicon.png" />
  <link rel="stylesheet" type="text/css" href="css/fontawesome.min.css" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>State Bridge Repair</title>

</head>

<body>
  <div id="app">
    <v-app>
      <V-main>
        <v-app-bar app color="indigo" dark>
          <v-toolbar-title>State Repair Probabilities</v-toolbar-title>
        </v-app-bar>
        <v-container fluid>
          <v-row>
            <v-col>
              <v-card id="top-left">
                <v-card-title>Repair Probability Coloring</v-card-title>
                <v-container>
                  <v-row>
                    <v-col>
                      <v-slider min="1" max="5" label="Max Probability in Std Dev.s" v-model="stdDevs"
                        @change="SetPieColor(false)" ticks="always" thumb-label="always">
                        </v-select>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-select :items="colorSchemes" label="Color Scheme" v-model="selectedColorScheme"
                        @change="selectColorScheme()"></v-select>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>

            <v-col>
              <v-card>
                <v-card-title>Hexagon Positioning</v-card-title>
                <v-container>
                  <v-row>
                    <v-col>
                      <v-select :items="mapSelectItems" label="Hexagon Positioning" v-model="selectedMapFormat"
                        @change="mapFormatChanged()"></v-select>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>

            <v-col>
              <v-card>
                <v-card-title>Center Coloring</v-card-title>
                <v-container>
                  <v-row>

                    <v-col cols=12>
                      <v-select :items="centerSelectItems" label="Center Coloring" v-model="selectedCenterFormat"
                        @change="centerFormatChanged()"></v-select>
                    </v-col>
                    <v-col cols=12 class="text-subtitle-1">
                      {{missingWarning()}}
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
          </v-row>

        </v-container>
      </V-main>
    </v-app>
  </div>
  <svg id='us-map' style="position:absolute;left:0px">
  </svg>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.js"
    integrity="sha256-kzv+r6dLqmz7iYuR2OdwUgl4X5RVsoENBzigdF5cxtU=" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.js"></script>
  <script src="https://d3js.org/d3-color.v1.min.js"></script>
  <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://unpkg.com/vue'></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>



  <script src="js/indexGetData.js"></script>
  <script src="js/indexMap.js"></script>

  <script>

    const app = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        mapSelectItems: [],
        centerSelectItems: [],
        stdDevs: 1,
        colorSchemes: [],
        selectedMapFormat: "map",
        selectedCenterFormat: "none",
        selectedColorScheme: "d3.interpolateInferno",
        missingInfoStates: ["AK", "HI"],
        missingInfoTypes: ["Precipitation", "Freeze_Thaw_Cycles", "Snowfall"],
        flippedCenterTypes: ["Year_Built_average", "Year_Built_median", "Deck_Condition_average", "Deck_Condition_median"],
      },
      mounted() {
        this.mapSelectItems = [
          { value: "map", text: "Geographic" },
          { value: "name", text: "Sort by State Name" },
          { value: "avg", text: "Sort by Average Probability" },
          { value: "max", text: "Sort by Max Probability" },


        ];
        this.centerSelectItems = [
          { value: "none", text: "None" },

        ];

        this.colorSchemes = [
          { value: "d3.interpolateInferno", text: "Inferno" },
          { value: "d3.interpolateBrBG", text: "Brown/Blue/Green" },
          { value: "d3.interpolateRdBu", text: "Red/Blue" },
          { value: "d3.interpolateRdGy", text: "Red/Gray" },
          { value: "d3.interpolateRdYlBu", text: "Red/Yellow/Blue" },
          { value: "d3.interpolateSpectral", text: "Spectral" },
          { value: "d3.interpolateTurbo", text: "Turbo" },
          { value: "d3.interpolateViridis", text: "Viridis" },
          { value: "d3.interpolateCubehelixDefault", text: "Cube Helix" },
          { value: "d3.interpolateCool", text: "Cool" },
        ];
        this.resize();

      },
      methods: {
        resize:resize,
        SetPieColor(flag) {
          standardDevChanged(this.stdDevs);
        },
        mapFormatChanged() {
          filter({ value: this.selectedMapFormat, text: this.mapSelectItems.find(x => x.value == this.selectedMapFormat).text });
        },
        centerFormatChanged() {
          console.log(this.selectedCenterFormat);
          filterCenter({ value: this.selectedCenterFormat });
        },
        selectColorScheme() {
          TESTCOLOR(null);
        },
        missingWarning() {
          if (this.missingInfoTypes.includes(this.selectedCenterFormat)) {
            return `Note that ${this.selectedCenterFormat.replace(/_/g, " ")} data in unavailable for ${this.missingInfoStates.join(" & ")}.`;
          }
          return "";
        }
      },
    });



  </script>




</body>

</html>